.container-fluid{
    justify-content: space-between;
    padding-left: 19rem;
    text-align: center;
    font-style: normal;
}

.navbar-nav {
    display: flex;
    padding-left: 15rem;
    align-items: center;
}

.nav-item {
    padding: 0 5rem 0 5rem;
}

@media screen and (max-width: 1040px){
    .navbar-nav {
        display: flex;
        align-items: center;
        padding-left: 0rem;
    }
    .nav-item {
        padding: 0rem;
    }

    .container-fluid{
        justify-content: space-between;
        padding-left: 1rem;
        text-align: center;
        font-style: normal;
    }
}